<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CefBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CefBrowser.ScrollFactoring" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CefBrowser.Properties.Settings>
            <setting name="lastWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="factorX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="factorY" serializeAs="String">
                <value>0</value>
            </setting>
        </CefBrowser.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <CefBrowser.ScrollFactoring>
            <setting name="lastWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xFactor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yFactor" serializeAs="String">
                <value>0</value>
            </setting>
        </CefBrowser.ScrollFactoring>
    </applicationSettings>
</configuration>